/* Popup Bounding Box */
#pilot-notification-popup {
  -moz-appearance: none;
  -moz-window-shadow: none;
  background-color: transparent;
  margin-top: -4px;
  margin-left: -13px;
  min-width: 280px;
  -moz-border-image: url(chrome://testpilot/skin/hud-panel.png) 26 50 22 18 / 26px 50px 22px 18px repeat; 
}

#pilot-notification-popup-container {
  -moz-appearance: none;
  margin: 4px;
  color:  #ffffff;
}

.pilot-title {
    font-size:200%
}

image.study-finished {
    list-style-image: url("chrome://testpilot/skin/ready_submit_48x48.png");
    max-height: 48px;
    max-width: 48px;
    margin: 10px;
}

image.study-submitted {
    list-style-image: url("chrome://testpilot/skin/ready_submit_48x48.png");
    max-height: 48px;
    max-width: 48px;
    margin: 10px;
}

image.new-study {
    list-style-image: url("chrome://testpilot/skin/new_study_48x48.png");
    max-height: 48px;
    max-width: 48px;
    margin: 10px;
}

image.new-results {
    list-style-image: url("chrome://testpilot/skin/new_results_48x48.png");
    max-height: 48px;
    max-width: 48px;
    margin: 10px;
}

richlistbox.tp-study-list {
    height: 500px;
    width: 500px; 
    overflow: auto;
    margin: 0px;
}

.tp-tab-panel {
    padding: 0px;
}

description.study-description {
    width: 300px;
}

description.study-title {
    width: 300px;
    font-size: 200%;
    text-align: left;
    margin-top: 10px;
}

richlistitem.tp-study-list {
    min-height: 120px;
    border-color: grey;
    border-bottom-style: solid;
    border-width: 1px;
}