#feedback-menu-button {
  text-shadow: 0 1px rgba(255, 255, 255, .4);
  margin: 8px 0 9px;
  padding: 0 4px;
  border: 1px solid rgba(59, 59, 59, 0.9);
  -moz-border-radius: 12px;
  -moz-box-shadow: 0 1px rgba(255, 255, 255, .4);
  background: -moz-linear-gradient(top, #FFF, #ADADAD) repeat-x;
  -moz-background-origin: border;
  height: 20px;
}

#feedback-menu-button .toolbarbutton-text {
  display: -moz-box;
}